<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudant</key>
	<dict>
		<key>apikey</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.apikey</string>
		<key>host</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.host</string>
		<key>iam_apikey_description</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.iam_apikey_description</string>
		<key>iam_apikey_name</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.iam_apikey_name</string>
		<key>iam_role_crn</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.iam_role_crn</string>
		<key>iam_serviceid_crn</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.iam_serviceid_crn</string>
		<key>password</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.password</string>
		<key>port</key>
		<integer>443</integer>
		<key>url</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.url</string>
		<key>username</key>
		<string>REPLACEME.sologid-workspace-cloudant-1653924571260.username</string>
		<key>workspaceID</key>
		<string>a2ed7935-d2a5-40aa-8053-62ff70ab02fb</string>
	</dict>
	<key>appName</key>
	<string>sologidworkspace</string>
</dict>
</plist>
